{% extends 'base.html' %}
{% block title %}Novos Cadastros{% endblock %}

{% block navigation %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     <a class="navbar-item" href="https://infopublic.com.br">
      <img src="{{ url_for('static', filename='img/LogoSitePequena.png') }}">
     </a>
    </div>

    <div class="navbar-menu">
        
    </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <p>
                Respeitamos a política de privacidade de dados sensíveis
                baseado na <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm", target="_blank">
                    <span style="text-decoration: underline;">LGPD</span>
                </a>
            </p>
            <p>
                Todos os campos são <span style="font-weight: bold;">obrigatórios</span>
            </p>
        </div>
        <form class="box" method="POST">

            <div class="field">
                <label class="label" for="nome">Nome Completo:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['nome'] }}" 
                    name="nome" type="text" placeholder="Ex: José da Silva Júnior" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="cpf">CPF:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['cpf'] }}" 
                    name="cpf" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">Email:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['email'] }}"
                    name="email" type="email" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="tel">Celular: (com DDD)</label>
                <div class="control">
                    <input class="input" value="{{ request.form['tel'] }}"
                    name="tel" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="rg">RG:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['rg'] }}"
                    name="rg" type="text" placeholder="Ex: 0000000-SSP-PB" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="entidade">Entidade:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['entidade'] }}"
                    name="entidade" type="text" placeholder="Ex: PM Mogeiro" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Quais sistemas o usuário terá acesso? 
                    <br><span class="has-text-danger">Selecione pelo menos um sistema!</span></br>
                </label>
                <div class="control">

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="PJPCTB">
                        PJPCTB/Contabilidade
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="PJFolha">
                        PJFolha
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="Tributos">
                        Tributos
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="PJFrota">
                        PJFrota
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="PJCheque">
                        PJCheque/Tesouraria
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="sistema" value="PJDoacao">
                        PJDoação/Concessão
                    </label>

                </div>
            </div>

            <div class="field">
                <label class="label"> 
                    Nos informe, abaixo, quem solicitou/autorizou o cadastro do usuário.
                </label>
                <label class="label" for="nome_solicitante">Nome do solicitante:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['nome_solicitante'] }}"
                    name="nome_solicitante" type="text" required>
                </div>
                <label class="label" for="cpf_solicitante">CPF do solicitante:</label>
                <div class="control">
                    <input class="input" value="{{ request.form['cpf_solicitante'] }}"
                    name="cpf_solicitante" type="text" required>
                </div>
            </div>

            <button class="button is-primary" type="submit">Solicitar Cadastro</button>
            <button class="button is-info" type="reset">Resetar dados</button>

        </form>
    </div>
</div>
{% endblock %}