{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <p>
                Atenção! A mensagem que você escrever abaixo será enviada para todos
                os clientes da Infopublic.
            </p>
        </div>
        <form class="box" method="POST">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Escreva aqui a mensagem." rows="10" required></textarea>
                </div>
            </div>

            <button class="button is-primary" type="submit">Enviar mensagem de massa</button>
            <button class="button is-info" type="reset">Apagar mensagem</button>
        </form>
    </div>
</div>
{% endblock %}