{% extends "base.html" %}
{% block title %}Cadastro usuários{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <form class="box" method="POST">
    <div class="field">
        <label class="label" for="cpf">CPF:</label>
        <div class="control">
            <input class="input" value="{{ request.form['cpf'] }}"  name="cpf" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label" for="nome">Nome:</label>
        <div class="control">
            <input class="input" value="{{ request.form['nome'] }}" name="nome" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email:</label>
        <div class="control">
            <input class="input" value="{{ request.form['email'] }}" name="email" type="email">
        </div>
    </div>

    <div class="field">
        <label class="label" for="entidade">Entidade:</label>
        <div class="control">
            <input class="input" value="{{ request.form['entidade'] }}" name="entidade" type="text">
        </div>
    </div>
    <fieldset>
    <label class="checkbox" for="PJPCTB">
        <input type="checkbox" id="PJPCTB" name="sistema" value="PJPCTB">
        PJPCTB
      </label>

    <label class="checkbox" for="PJFolha">
        <input type="checkbox" id="PJFolha" name="sistema" value="PJFolha">
        PJFolha
    </label>

    <label class="checkbox" for="Tributos">
        <input type="checkbox" id="Tributos" name="sistema" value="Tributos">
        Tributos
    </label>

    <label class="checkbox" for="PJFrota">
        <input type="checkbox" id="PJFrota" name="sistema" value="PJFrota">
        PJFrota
    </label>

    <label class="checkbox" for="PJCheque">
        <input type="checkbox" id="PJCheque" name="sistema" value="PJCheque">
        PJCheque
    </label>

    <label class="checkbox" for="PJDoacao">
        <input type="checkbox" id="PJDoacao" name="sistema" value="PJDoacao">
        PJDoacao
    </label>
    </fieldset>
    <div class="field">
        <label class="label" for="tel">Tel:</label>
        <div class="control">
            <input class="input" value="{{ request.form['tel'] }}" name="tel" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label" for="rg">RG:</label>
        <div class="control">
            <input class="input" value="{{ request.form['rg'] }}" name="rg" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label" for="senha_ts">Senha TS:</label>
        <div class="control">
            <input class="input" value="{{ request.form['senha_ts'] }}" name="senha_ts" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label" for="senha_sistema">Senha Sistema:</label>
        <div class="control">
            <input class="input" value="{{ request.form['senha_sistema'] }}" name="senha_sistema" type="text">
        </div>
    </div>

    <button class="button is-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}